@model UpdateUrunViewModel
@{
    ViewData["Title"] = "UpdateUrun";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Urunid" class="form-control" />
    <label>Ürün Adı</label>
    <input type="text" asp-for="UrunAd" class="form-control" />
    <br />
    <label>Marka</label>
    <input type="text" asp-for="Marka" class="form-control" />
    <br />
    <label>Stok</label>
    <input type="text" asp-for="Stok" class="form-control" />
    <br />
    <button class="btn btn-primary">Ürünü Güncelle</button>
</form>

